body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 50px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

